.atv {
	width: 20%;
	color: #fff;
	text-align: center;
	background-color: #0b0101;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.atividades {
    border-bottom: 1px solid #6c2d6a;
    padding-left: 10%;
}

.quadrado:hover {
	background-color: #c8cd36;
	color: #fff;
}

.toolBar {
    margin-top: 2%;
    margin-bottom: 2%;
}

/* .bucketList {
    border: 1px solid red;
    padding-left: 10%;
}

.counter {
    border: 1px solid red;
} */